.idea
**/logs
**/images
**/files
**/static
common/go-k8s-client-manage/go-k8s-client-manage
common/go-refresh-cdn/go-refresh-cdn
common/go-tke-manage/go-tke-manage
service/qqGroup/api/qqgroup
service/admin/api/admin
service/admin/rpc/admin
service/yunwei/api/yunwei
service/yunwei/rpc/yunwei
service/identity/rpc/identity
ws/api/key
monitor/api/etc
monitor/rpc/etc
sendMsg/api/etc
sendMsg/rpc/etc